.row{
    
    height: 400px;
    margin-bottom: 5px;
}
img{
    width: 100%;
    height: 100%;
}
.second-row{
    display: flex;
    gap: 5px;
}

    .one, .two{
    width: 33%;

}
.three{
    width: 33%;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;

}
.three div{
    height: calc(50% - 5px/2);
}
.third-row{
    display: flex;
    gap: 5px;
    
}
.three-r{
    width: 33%;
}
.third-row-s{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.third-row > div{
    flex: 1;

}
.third-row-s div{
     height: 197px; 
     flex: 1; 
}
